h1 { 
  color: #FFC0CB; 
  font-size: 30px; 
  font-weight: normal; 
  line-height:1em; 
  text-align: left;
  padding: 10px 0 0 10px;
}

.logo-div {
  float:left;
  width: 24%;
  height: 69px;
  padding-left: 25px;
}

.menu-div {
  float: left;
  width: 76%;
}