<!-- Sidenav/menu -->
<nav class="w3-sidenav w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidenav"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <h4 class="w3-padding-0"><b>{{title}}</b></h4>
    <p class="w3-text-grey"></p>
  </div>
  <a [routerLink]="['song']" routerLinkActive="w3-text-teal" class="w3-padding">SONG</a>
  <a [routerLink]="['home']" routerLinkActive="w3-text-teal" class="w3-padding">PLAYLIST</a>
</nav>
<router-outlet></router-outlet>