<div class="form-div container-padding">
   <div *ngIf="isLoading"  class="fa fa-spinner fa-pulse fa-2x fa-fw"></div> 
   <ngui-popup #popup></ngui-popup>
   <ul *ngIf="!isLoading">
     <li *ngFor="let item of songs">
      <div class="title-div">
        <label>{{item.name}}:   ({{item.votes}})</label>
        <a target="item.url" [href]="item.url">Link</a>
        <ui-switch [(ngModel)]="item.hasPlayed" (change)="onChangePlayed(item)" size="small" reverse></ui-switch>
        <button (click)="delete('small','Delete Confirmation!', item)" class="right fa fa-trash"></button>
        <button (click)="edit(item)" class="right fa fa-pencil-square-o"></button>
      </div>
      <div *ngIf="item.isEditClicked">
        <my-song-detail [song]="item"></my-song-detail>
      </div> 
     </li>
   </ul>
</div>