<div class="form-div container-padding">
  <button (click)="save()" class="w3-btn right btn-top-pos">Save</button>
  <ngui-popup #popup></ngui-popup>
  <span *ngIf="isSpinnerOn" class="span-top-pos right fa fa-spinner fa-pulse fa-2x fa-fw"></span>
  <span *ngIf="isSaved" class="span-top-pos red right"> Saved! </span>
     <ul>
      <li>
        <label for="song">Name: *</label>
        <input type="text" size="40" id="name" [(ngModel)]="song.name"/>
        <img *ngIf="song.artworkUrl" [src]="song.artworkUrl"/>
      </li>
      <li>
        <label for="song">Votes: *</label>
        <div class="styled-select gray rounded">
          <select id="votes" [(ngModel)]="song.votes">
              <option *ngFor="let vote of votes" [ngValue]="vote">{{vote}}</option>
          </select>
        </div>
      </li>  
      <li>
        <label>Upload song file (.MP3): *</label>
        <input type="file" class="upload-button" (change)="onTrackUpload($event)"/>
        <span *ngIf="isFileUploading" class="red">Uploading...</span>
        <span *ngIf="isFileBig" class="red">Upload file < 1MB.</span>
        <div class="or-div">-OR-</div>
        <label for="url">URL:</label>
        <input type="text" size="40" id="url" [(ngModel)]="song.url"/>
      </li>  
      <li>
        <label for="releaseDate">Release Date:</label>
        <input type="date" size="40" id="releaseDate" [(ngModel)]="song.formatedDate" />
      </li>
      <li>
        <label for="collection">Artwork URL:</label>
        <input type="text" size="40" id="collection" [(ngModel)]="song.artworkUrl"/>
      </li>
      <li>
        <label for="collection">Movie/Album:</label>
        <input type="text" size="40" id="collection" [(ngModel)]="song.collection"/>
      </li>
      <li>
        <label for="language">Language:</label>
        <div class="styled-select gray rounded">
          <select id="language" [(ngModel)]="song.language">
              <option *ngFor="let language of languages" [ngValue]="language">{{language}}</option>
          </select>
        </div>
      </li>
      <li>
        <label for="genre">Genre:</label>
         <div class="styled-select gray rounded">
          <select id="genre" [(ngModel)]="song.genre">
              <option *ngFor="let genre of genres" [ngValue]="genre">{{genre}}</option>
          </select>
        </div>
      </li>
  </ul>
</div>