<div class="w3-main" style="margin-left:300px">
  <header class="container-padding">
    <h1><b>{{title}}</b></h1>
    <div class="w3-section w3-padding-7">
      <button (click)="onAddClick()" class="w3-btn w3-white" [class.w3-grey]="addClicked"><i class="fa fa-plus w3-margin-right"></i>Add</button>
      <button (click)="onListClick()" class="w3-btn w3-white" [class.w3-grey]="listClicked"><i class="fa fa-th-list w3-margin-right"></i>List</button>
    </div>
  </header>
  <div *ngIf="addClicked">
    <my-song-detail></my-song-detail>
  </div>
  <div *ngIf="listClicked">
    <my-song-list></my-song-list>
  </div>
</div> 