.form-div {
    width: 825px;
    padding-top: 30px;
}

img {
    width: 50px;
}

.w3-btn {
    display: block;
}

.multiselect {
    margin-left: 0px;
}

.level-div {
    float: left;
    margin-right: 20px;
    width: 100px
}

.upload-button {
    margin-left: 120px;
}

.or-div {
    margin: 10px 0;
}

.auto-complete ul {
    overflow-y: scroll;
}

.auto-complete ul li {
	padding:1px 0px;
	border-top:1px dotted #c7c7c7;
	height: 5px;
}

.float-left-div {
    float: left;
    margin: 5px;
}
.option-but {
    margin-left: 2px;
}