<div class="w3-main" style="margin-left:300px">
  <header class="container-padding">
    <h5><b> {{title}} </b></h5>
  </header>
<button class="button" [ngClass]="{'button-stop': !isPlaying}" (click)="onPlayClick()">Start Playlist</button>
<label>Song Playing:   {{song.name}}</label>
</div>